* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    background: #07110D;
    color: #DDE8E1;
}

section {
    scroll-margin-top: 90px;
}

::selection {
    background: #1F5A40;
    color: #ffffff;
}